<div class="centered-content">
    <div class="box-white">
        <form class="form-Login">
            <h3 class="stf-signIn">Sign in</h3>
            <div class="mb-4">
                <div class="st-icon">
                    <i class="material-icons">drafts</i>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
            </div>
            <div class="mb-4">
                <div class="st-icon">
                    <i class="material-icons">lock</i>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
            </div>
            <button type="submit" class="btn btn-signIn">Sign In</button>
            <p class="create-Account">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>