// this is where we put global styles and change variables values

//inport form Lato and Nunito
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700&display=swap");
// Biáº¿n (Variable)
$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$light: #f8f8f8;
$dark-green: rgb(0, 100, 80);

// update Bulma's global variables
$family-sans-serif: "Nunato", sans-serif;
$primari: $green;
$link: $light-green;
// update some of Bulma's global component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// set custom global style(will be applied to whole app )
html {
    background: linear-gradient(to right top, $turquoise, $green);
    
}
html, body {
    height: 100%;
    background: linear-gradient(to right top, $turquoise, $green);
}
a{
    text-decoration:none
}